# TODO: qlean fix git submodule
# [submodule "local/qlean"]
# 	path = local/qlean
# 	url = https://github.com/qdrvm/qlean-mini.git
# 	branch = devnet4
[submodule "local/qlean-vcpkg"]
	path = local/qlean-vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "local/ethlambda"]
	path = local/ethlambda
	url = https://github.com/lambdaclass/ethlambda.git
